<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.UserMapper">

    <insert id="addUser">
        insert into t_user(loginName,password,realName,idCard,phone,email,status,createDate,salt)
        values(#{loginName},#{password},#{realName},#{idCard},#{phone},#{email},#{status},#{createDate},#{salt})
    </insert>

    <select id="findUserByName" resultType="com.bdqn.entity.User">
        select * from t_user where loginName = #{loginName}
    </select>

    <update id="updateUser">
        update t_user
        <set>
            <if test="loginName!=null and loginName!=''">
                loginName = #{loginName},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="realName!=null and realName!=''">
                realName = #{realName},
            </if>
            <if test="idCard!=null and idCard!=''">
                idCard = #{idCard},
            </if>
            <if test="phone!=null and phone!=''">
                phone = #{phone},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="status!=null and status!=''">
                status = #{status},
            </if>
            <if test="createDate!=null">
                createDate= #{createDate},
            </if>
            <if test="salt!=null and salt!=''">
                salt = #{salt},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>